

html,body,div,span,img,a,.wrapper,.page {
	margin:0px;
	padding:0px;
	font-family:sans-serif,sans,timesnewroman;
	color:#a7a7a7;
	background-color:transparent;
}

.wrapper {
	max-width:750px;
	max-height:auto;
	margin:auto;
}

.page {
	min-width:700px;
	min-height:auto;

}

.face {	
	width:90px;
	height:20px;
	display:inline;
	float:right;
	text-align:center;
}

a
{
	text-decoration:none;
	text-transform:uppercase;
}

img
{	
	float:left;
	width:75px;
	height:75px;
}

.right-image
{
	float:right;
}

.menu
{

	width:96px;
	height:20px;
	float:left;
	margin-top:74px;
	text-align:center;
}

